header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2a2a2a;
    height: 4em;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav a {
    flex: 1;
    text-align: center;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

#logo {
    height: 2.5em;
    width: auto;
    margin: 0.5em 1em;
}

#homeImg {
    width: 100%;
    height: auto;
}

#home {
    align-items: center;
    position: relative;
}

#bandName {
    z-index: 10;
    position: absolute;
    padding: 5%;
    width: auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    flex-direction: column;
    color: rgb(200, 200, 200);
    text-align: center;
}

#about p {
    line-height: 1.5;
    padding: 0% 15%;
}

#about div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
    flex: 1;
    padding: 0% 2.5%;
}

#about img {
    width: 35%;
    margin: 3% 2.5% 5% 2.5%;
    height: auto;
    flex: 1;
}

body {
    background-color: black;
}

section {
    scroll-margin-top: 4em;
}

#concerts {
    display: flex;
    flex-direction: row;
    position: relative;
}

#concerts img {
    width: 80%;
    height: auto;
}

#info {
    left: 75%;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%);
    width: 25%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.concertText {
    margin: 0% 5% 0% 18%;
    color: rgb(200, 200, 200);
    text-align: center;
    line-height: 1.5;
}

#concertInfo {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: 2.5%;
    justify-content: space-evenly;
    line-height: 2.5;
}

#date {
    right: 0;
    text-align: right;
    color: rgb(200, 200, 200);
}
#location {
    left: 0;
    color: rgb(200, 200, 200);
    text-align: left;
}

.button {
    display: inline-block;
    margin: 0% 5% 0% 18%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(237, 237, 237);
    border-radius: 9999px;
}