html {
    font-size: clamp(14px, 1vw, 22px);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.tab-content {
    display: none !important;
}

.tab-content.active {
    display: block !important;
}

.tab-link.active {
    color: aquamarine;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2a2a2a;
    height: 4rem;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav a {
    flex: 1;
    text-align: center;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

#logo {
    height: 2.5rem;
    width: auto;
    margin: 0.5rem 1rem;
}

#homeImg {
    width: 100%;
    height: auto;
}

#home {
    align-items: center;
}

#bandName {
    z-index: 10;
    position: absolute;
    padding: 5%;
    width: 100%;
    height: auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    flex-direction: column;
    color: rgb(200, 200, 200);
    text-align: center;
}

#about p {
    line-height: 1.5;
    padding: 0% 15%;
}

#about div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0% 2.5%;
    flex-direction: row;
}

#about img {
    width: 35%;
    margin: 3% 2.5% 5% 2.5%;
    height: auto;
    flex: 1;
}

body {
    background-color: black;
}

section {
    scroll-margin-top: 4rem;
}

#concerts {
    display: flex;
    flex-direction: column;
}

#concerts img {
    width: 80%;
    height: auto;
}

#info {
    top: 0;
    left: 75%;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%);
    width: 25%;
    height: 100%;
    align-content: center;
    text-align: center;
}

#loomPreview {
    display: flex;
    position: relative;
    flex-direction: row;
}

.concertText {
    margin: 0% 5% 0% 18%;
    color: rgb(200, 200, 200);
    text-align: center;
    line-height: 1.5;
}

#concertInfo {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: 2.5%;
    justify-content: space-evenly;
    line-height: 2.5;
}

#date {
    right: 0;
    text-align: right;
    color: rgb(200, 200, 200);
}
#location {
    left: 0;
    color: rgb(200, 200, 200);
    text-align: left;
}

.buttonConcert {
    display: inline-block;
    margin: 0% 5% 0% 18%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(237, 237, 237);
    border-radius: 9999px;
}

#mainImg {
    position: relative;
    flex: 1;
    display: flex;
}

#ticketCheckout {
    height: 40rem;
    padding: 3% 5%;
    font-size: larger;
}

#ticketCheckout select, input {
    background-color: #2a2a2a;
    color: rgb(200, 200, 200);
}

label {
    color: rgb(200, 200, 200);
    font-size: 1.5rem;
}

#merch {
    display: flex;
    flex: 1;
    width: 100%;
}

#merchShop {
    display: flex;
    flex: 1;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row; 
    flex-wrap: wrap;
}

#merchShop div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 487.5px;
    margin: 2%;
    color: rgb(200, 200, 200);
    text-align: center;
    line-height: 1.5rem;
    justify-content: space-between;
}

#merchShop img {
    width: 100%;
    height: auto;
    margin: 2%;
}

#merchShop p {
    font-size: 1.2rem;
}

#merchShop a {
    position: fixed;
    top: 5.5rem;
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
}

#merchShop a img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    html {
        font-size: clamp(8px, 2vw, 16px);
    }
    #loomPreview {
        flex-direction: column;
        position: static;
    }

    #concerts img {
        width: 100%;
    }

    #info {
        top: 5%;
        position: static;
        width: 100%;
        height: 20rem;
        background: black
    }
    .concertText {
        margin: 4% 0% 0% 0%;
        color: rgb(200, 200, 200);
        text-align: center;
        line-height: 1.5;
    }
    #concertInfo {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        line-height: 2.5;
    }

    #about div {
        flex-direction: column;
    }

    #about img {
        width: 80%;
        margin: 3% 2.5% 5% 2.5%;
        height: auto;
        flex: 1;
    }

    #merchShop div {
        width: 150px;
        height: 243.75px;
    }
}