.tab-content {
    display: none !important;
}

.tab-content.active {
    display: block !important;
}

.tab-link.active {
    color: aquamarine;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2a2a2a;
    height: 4rem;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav a {
    flex: 1;
    text-align: center;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

#logo {
    height: 2.5rem;
    width: auto;
    margin: 0.5rem 1rem;
}

#homeImg {
    width: 100%;
    height: auto;
}

#home {
    align-items: center;
}

#bandName {
    z-index: 10;
    position: absolute;
    padding: 5%;
    width: auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    flex-direction: column;
    color: rgb(200, 200, 200);
    text-align: center;
}

#about p {
    line-height: 1.5;
    padding: 0% 15%;
}

#about div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0% 2.5%;
}

#about img {
    width: 35%;
    margin: 3% 2.5% 5% 2.5%;
    height: auto;
    flex: 1;
}

body {
    background-color: black;
}

section {
    scroll-margin-top: 4rem;
}

#concerts {
    display: flex;
    flex-direction: column;
}

#concerts img {
    width: 80%;
    height: auto;
}

#info {
    top: 0;
    left: 75%;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%);
    width: 25%;
    height: 100%;
    align-content: center;
    text-align: center;
}

#loomPreview {
    display: flex;
    position: relative;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    #loomPreview {
        flex-direction: column;
        position: static;
    }

    #concerts img {
        width: 100%;
    }

    #info {
        position: static;
        width: 100%;
        height: 20rem;
    }
}

.concertText {
    margin: 0% 5% 0% 18%;
    color: rgb(200, 200, 200);
    text-align: center;
    line-height: 1.5;
}

#concertInfo {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: 2.5%;
    justify-content: space-evenly;
    line-height: 2.5;
}

#date {
    right: 0;
    text-align: right;
    color: rgb(200, 200, 200);
}
#location {
    left: 0;
    color: rgb(200, 200, 200);
    text-align: left;
}

.button {
    display: inline-block;
    margin: 0% 5% 0% 18%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(237, 237, 237);
    border-radius: 9999px;
}

#mainImg {
    position: relative;
    flex: 1;
    display: flex;
}

#ticketCheckout {
    height: 40rem;
    padding: 3% 5%;
    font-size: larger;
}



#ticketCheckout select, input {
    background-color: #2a2a2a;
    color: rgb(200, 200, 200);
}

label {
    color: rgb(200, 200, 200);
}